// Afsenders information
.section
  h2 Afsenders information
  label(for="FirstName") Fornavn:
  input(type="text", id="FirstName", name="Sender_FirstName", required)

  label(for="LastName") Efternavn:
  input(type="text", id="LastName", name="Sender_LastName", required)

  label(for="Email") E-mail:
  input(type="Text", id="Email", name="Sender_Email", required)

  label(for="PhoneNumber") Telefonnummer:
  input(type="Text", id="PhoneNumber", name="Sender_PhoneNumber", required)

  label(for="Address") Adresse:
  textarea(type="Text" id="Address", name="Sender_Address", required)

// Modtagers information
.section
  h2 Modtagers information
  label(for="FirstName") Fornavn:
  input(type="text", id="FirstName", name="Receiver_FirstName", required)

  label(for="LastName") Efternavn:
  input(type="text", id="LastName", name="Receiver_LastName", required)

  label(for="Email") E-mail:
  input(type="Text", id="Email", name="Receiver_Email", required)

  label(for="PhoneNumber") Telefonnummer:
  input(type="Text", id="PhoneNumber", name="Receiver_PhoneNumber", required)

  label(for="Address") Adresse:
  textarea(type="Text" id="Address", name="Receiver_Address", rows=5, required)
