<link rel="icon" type="image/x-icon" href="https://github.com/andracs/sendnemt.dk/blob/main/sendnemt.png?raw=true">
<title>SendNemt</title>

.container
  .header
    img#logo(src="https://github.com/andracs/sendnemt.dk/blob/main/sendnemt.png?raw=true")
    h1 Formular til pakkeinformation
    link(rel="stylesheet", href="/stylesheets/Styles.css")

    // Afsenders information
    .section
      h2 Afsenders information
      label(for="FirstName") Fornavn:
      input(type="text", id="FirstName", name="Sender_FirstName", required)

      label(for="LastName") Efternavn:
      input(type="text", id="LastName", name="Sender_LastName", required)

      label(for="Email") E-mail:
      input(type="text", id="Email", name="Sender_Email", required)

      label(for="PhoneNumber") Telefonnummer:
      input(type="text", id="PhoneNumber", name="Sender_PhoneNumber", required)

      label(for="Address") Adresse:
      textarea(type="text", id="Address", name="Sender_Address", required)

    // Modtagers information
    .section
      h2 Modtagers information
      label(for="ReceiverFirstName") Fornavn:
      input(type="text", id="ReceiverFirstName", name="Receiver_FirstName", required)

      label(for="ReceiverLastName") Efternavn:
      input(type="text", id="ReceiverLastName", name="Receiver_LastName", required)

      label(for="ReceiverEmail") E-mail:
      input(type="text", id="ReceiverEmail", name="Receiver_Email", required)

      label(for="ReceiverPhoneNumber") Telefonnummer:
      input(type="text", id="ReceiverPhoneNumber", name="Receiver_PhoneNumber", required)

      label(for="ReceiverAddress") Adresse:
      textarea(type="text", id="ReceiverAddress", name="Receiver_Address", rows=5, required)

      <div class="section">
      <h2>Pakkeinformation</h2>
      <label for="parcelWeight">Vægt (kg):</label>
      <input type="number" id="parcelWeight" name="parcelWeight" min="0" step="0.01" required>
  
      <label for="parcelDimensions">Mål (Længde i cm):</label>
      <input type="text" id="parcelDimensions" name="parcelDimensions" required>

      <label for="parcelDimensions">Mål (Bredde i cm):</label>
      <input type="text" id="parcelDimensions" name="parcelDimensions" required>

      <label for="parcelDimensions">Mål (Højde i cm):</label>
      <input type="text" id="parcelDimensions" name="parcelDimensions" required>
  
      <label for="parcelContents">Indhold:</label>
      <textarea id="parcelContents" name="parcelContents" required></textarea>
  
      <label for="parcelValue">Værdi (kr):</label>
      <input type="number" id="parcelValue" name="parcelValue" min="0" step="0.01" required>
      </div>
      
    <button type="submit" class="submit-button">Indsend</button>