link(rel="icon", type="image/x-icon", href="https://github.com/andracs/sendnemt.dk/blob/main/sendnemt.png?raw=true")
title SendNemt

.container
  .header
    img#logo(src="https://github.com/andracs/sendnemt.dk/blob/main/sendnemt.png?raw=true")
    h1 Formular til pakkeinformation
    link(rel="stylesheet", href="/stylesheets/Styles.css")

  form(action='/frontpage/insertUserInformation', method='post')
    // Afsenders information
    .section
      h2 Afsenders information
      label(for="SenderFirstName") Fornavn:
      input(type="text", id="SenderFirstName", name="SenderFirstName", required)

      label(for="SenderLastName") Efternavn:
      input(type="text", id="SenderLastName", name="SenderLastName", required)

      label(for="SenderEmail") E-mail:
      input(type="text", id="SenderEmail", name="SenderEmail", required)

      label(for="SenderPhoneNumber") Telefonnummer:
      input(type="text", id="SenderPhoneNumber", name="SenderPhoneNumber", required)

      label(for="SenderAddress") Adresse:
      textarea(type="text", id="SenderAddress", name="SenderAddress", required)

    // Modtagers information
    .section
      h2 Modtagers information
      label(for="ReceiverFirstName") Fornavn:
      input(type="text", id="ReceiverFirstName", name="ReceiverFirstName", required)

      label(for="ReceiverLastName") Efternavn:
      input(type="text", id="ReceiverLastName", name="ReceiverLastName", required)

      label(for="ReceiverEmail") E-mail:
      input(type="text", id="ReceiverEmail", name="ReceiverEmail", required)

      label(for="ReceiverPhoneNumber") Telefonnummer:
      input(type="text", id="ReceiverPhoneNumber", name="ReceiverPhoneNumber", required)

      label(for="ReceiverAddress") Adresse:
      textarea(type="text", id="ReceiverAddress", name="ReceiverAddress", rows=5, required)

      .section
        h2 Pakkeinformation
        label(for="WeightInKG") Vægt (kg):
        input(type="number", id="PackageWeightInKG", name="PackageWeightInKG", min="0", step="0.01", required)
    
        label(for="LenghtInCM") Mål (Længde i cm):
        input(type="text", id="PackageLenghtInCM", name="PackageLenghtInCM", required)

        label(for="widthInCM") Mål (Bredde i cm):
        input(type="text", id="PackagewidthInCM", name="PackagewidthInCM", required)

        label(for="HeightInCM") Mål (Højde i cm):
        input(type="text", id="PackageHeightInCM", name="PackageHeightInCM", required)
    
        label(for="PackageContent") Indhold:
        textarea(id="PackageContent", name="PackageContent", required)
    
        label(for="WorthInKR") Værdi (kr):
        input(type="number", id="PackageWorthInKR", name="PackageWorthInKR", min="0", step="0.01", required)

    button(type='submit', class="submit-button") Indsend
