extends layout

block content
  h1= title
  table 
    tr
      th Name
      th Email
      th Phone
    - each Sender in Sender
      tr
        td= Sender.FirstName
        td= Sender.Email
        td= Sender.Phonenumber