body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #2E4722;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.logo {
  font-size: 2em;
  color: black;
  margin: 0;
  font-weight: bold;
}

h2 {
  color: black;
  border-bottom: 2px solid #e9eff3;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

button.submit-button {
  padding: 10px 20px;
  background-color: #2E4722;
  color: #F7C851;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button.submit-button:hover {
  background-color: #6aa44e;
}

.section {
  text-align:
  margin-bottom 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  
  .header {
    padding-bottom: 10px;
  }

  h2 {
    font-size: 1.2em;
  }
  
  .logo {
    font-size: 1.5em;
  }

  button.submit-button {
    padding: 10px;
  }
}

#logo {
  max-width: 200px;
}